@font-face {
    font-family: 'Roboto';
    src: url("../font/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'RobotoThin';
    src: url("../font/Roboto/Roboto-Thin.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

.floating-element {
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

img {
    width: 100%;
}


header,
main,
footer {
    margin-left: 10%;
    margin-right: 10%;

    margin-bottom: 50px;
}

.wildImages,
.about,
.sec_h3,
.tiles,
.ready,
.boring {
    margin-bottom: 100px;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    color: lightgray;
    font-size: 2rem;

    margin-bottom: 20px;
}

p {
    font-family: 'RobotoThin';
    font-size: 0.9rem;
}

.ilus_images img {
    margin: 0 40%;
    width: 60%;

    /* display: flex;
    align-items: right;
    justify-content: end;
    text-align: right; */

    position: absolute;
    z-index: -1;
}

.headTitle {
    padding-top: 50px;
    display: flex;
    gap: 10px;
    align-self: center;

}

.headTextTitle {
    margin-left: 8%;
}

.imgEle {
    width: 30px;
    position: fixed;

}

.sec_ilu {
    margin-top: 20%;
    margin-bottom: 50px;

    p {
        line-height: 1.8;
    }
}

.btn_Scroll {
    border: none;
    background-color: white;

    a {
        text-decoration: none;
        color: red;
    }
}



.about {
    display: flex;
    gap: 15vw;
    justify-content: center;
}

.about img {
    width: 30px;
}

.about p {
    width: 400px;
}

.sec_h3 {
    display: flex;
    justify-content: center;

    
}

.tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Erzeugt zwei gleich große Spalten */
    gap: 20px;
    /* Abstand zwischen den Grid-Elementen */
}

.tileArticle {
    padding: 20px;
    display: flex;
    gap: 20px;

    img {
        width: 20px;
    }
}

.ready {
    align-items: center;
    text-align: center;
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 30px;

    margin: 0 auto;

    margin-bottom: 100px;
}

.boring {
    display: flex;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.imgAside {
    align-self: center;

    img {
        width: 90%;
    }

}

.textAside p {
    line-height: 2;
}

.textAside img {
    width: 30px;
    margin-bottom: 10px;
}

.ready #mail {
    width: 400px;
    height: 50px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
    border: none;

    text-align: center;
}

#mail::placeholder {
    color: #999;
}

.btn_Sub {
    background-color: #FF4E8C;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 40px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer img {
    width: 20px;
}

/* 
.transform {
    background-color: aqua;

    transform: translate(10rem, 10rem);
}

.transition {
    background-color: rgb(139, 203, 150);

    transform: translate(10rem);
    transition: transform 3s ease-in;
}

.rotate {
    background-color: rgb(171, 139, 203);

    transform: rotate(-30deg);
} */


.container {

    width: 80vw;
    height: 80vh;

    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    /* border: 2px solid black; */
    position: absolute;

}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(80vw, 0);
    }

    50% {
        transform: translate(80vw, 60vh);
    }

    75% {
        transform: translate(0, 60vh);
    }
}


.circle {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;

    position: absolute;

    /* transition: all 1.5s ease; */
    animation: move 4s linear infinite;
}



#circle1 {
    top: 0;
    left: 0;

    background-color: red;
    z-index: 1;

    /* animation-delay: 2s; */
    /* transform: translate(10rem, 0);
    transition: transform 3s ease-in-out; */
}


#circle2 {
    top: 0;
    left: 0;

    background-color: yellow;
    z-index: 2;

    animation-delay: 1s;
}

#circle3 {
    top: 0;
    left: 0;
    background-color: blue;
    z-index: 3;

    animation-delay: 2s;
}

#circle4 {
    top: 0;
    left: 0;
    background-color: green;
    z-index: 4;

    animation-delay: 3s;
}